/* This is a partial SCSS file */

/* This code is copied & modified from
http://refills.bourbon.io/
MIT License
*/

.post-index {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $post-gutter: 1.4em;
  $post-image-padding: 0.7em;
  $post-image-width: 4em;
  $post-background: lighten($theme-color, 15%);
  $post-detail-color: transparentize($base-gray, 0.5);
  $post-image-vert-alignment: top;

  border-bottom: 1px solid transparentize($base-gray, 0.9);
  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  width: 100%;

  .post-image,
  .post-content {
    display: table-cell;
    vertical-align: $post-image-vert-alignment;
  }

  .post-image {
    padding-right: $post-gutter;
    i {
      font-size: 3em;
    }

    .post-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .post-content {
    width: 100%;

    h2 {
      font-size: 1em;
      margin: 0 0 0.5em 0;
      a, a:hover, a:focus, a:active {
        color: $base-gray;
        text-decoration: none;
      }
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.post-detail {
      color: $post-detail-color;
      font-size: 0.8em;
      font-style: italic;
    }
  }
}

.pagination {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $large-screen: em(860) !default;
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-disabled-color: #E1E1E1 !default;

  text-align: center;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      list-style: none;
    }

    ul li {
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      @include transition (all 0.1s ease-in-out);
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $base-gray;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;

      &:hover,
      &:focus {
        background: $pagination-hover-background;
        color: $theme-color;
      }

      &:active {
        background: $pagination-background;
      }
    }

    li span {
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $pagination-disabled-color;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;
    }

    li span.current {
      background: $pagination-hover-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $theme-color;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;
    }
  }
}
