/* Based on:
1. https://github.com/poole/hyde/blob/master/public/css/hyde.css
2. Base16 (http://chriskempson.github.io/base16/#default)
*/

/* Red */
body.theme-base-08 a {
    color: #ac4142;
}

/* Orange */
body.theme-base-09 a {
    color: #d28445;
}

/* Yellow */
body.theme-base-0a a {
    color: #f4bf75;
}

/* Green */
body.theme-base-0b a {
    color: #90a959;
}

/* Cyan */
body.theme-base-0c a {
    color: #75b5aa;
}

/* Blue */
body.theme-base-0d a {
    color: #6a9fb5;
}

/* Magenta */
body.theme-base-0e a {
    color: #aa759f;
}

/* Brown */
body.theme-base-0f a {
    color: #8f5536;
}
