---
layout: default
---

<br/>

<h2>{{ page.title }}</h2>
{% if page.date %}
<span class="entry-date">
    <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: site.date_format }}
    </time>
</span>
{% endif %}

<div>
    <br/>
    <br/>
</div>

{{ content }}

<div class="sharing">
    <br/>
    <br/>
<!-- Make an animated slide out drawer later -->
    <ul>
        <li><i class="fa fa-share-square-o"></i></li>
        {% if site.sharing.twitter %}
        <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">
                <i class="fa fa-twitter-square"></i>
        </a></li>
        {% endif %}

        {% if site.sharing.linkedin %}
        <li><a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
                <i class="fa fa-linkedin-square"></i>
        </a></li>
        {% endif %}

        {% if site.sharing.facebook %}
        <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook-square"></i>
        </a></li>
        {% endif %}

        {% if site.sharing.google_plus %}
        <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
                <i class="fa fa-google-plus-square"></i>
        </a></li>
        {% endif %}

        {% if site.sharing.reddit %}
        <li><a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit">
                <i class="fa fa-reddit-square"></i>
        </a></li>
        {% endif %}
    </ul>
</div>

